stages:
  - build
  - infrastructure
  - configure
  - deploy
  - test
  - cleanup

variables:
  DOCKERHUB_USER: "omar22aboelhassan"
  # DOCKERHUB_PASS -> set as GitLab CI variable (masked)
  KUBE_NAMESPACE: "route-finale"

before_script:
  - echo "CI start"

build:
  stage: build
  image: docker:24
  services:
    - docker:dind
  script:
    - docker info
    - bash scripts/build_and_tag.sh
  tags: ["local-runner"]

infrastructure:
  stage: infrastructure
  image: bitnami/kubectl:latest
  script:
    - kubectl apply -f kubernetes/namespace.yaml
  tags: ["local-runner"]

configure:
  stage: configure
  image: bitnami/kubectl:latest
  script:
    - |
      kubectl -n ${KUBE_NAMESPACE} delete secret mysql-secret --ignore-not-found=true
      kubectl -n ${KUBE_NAMESPACE} create secret generic mysql-secret \
        --from-literal=mysql-root-password="${MYSQL_ROOT_PASSWORD}" \
        --from-literal=mysql-user="${MYSQL_USER}" \
        --from-literal=mysql-password="${MYSQL_PASSWORD}" \
        --from-literal=mysql-database="${MYSQL_DATABASE}"
  tags: ["local-runner"]

deploy:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - bash scripts/deploy_k8s.sh
  environment:
    name: production
  tags: ["local-runner"]

test:
  stage: test
  image: bitnami/kubectl:latest
  script:
    - kubectl -n ${KUBE_NAMESPACE} get pods
    - kubectl -n ${KUBE_NAMESPACE} get svc
  tags: ["local-runner"]

cleanup:
  stage: cleanup
  when: manual
  image: bitnami/kubectl:latest
  script:
    - bash scripts/cleanup.sh
  tags: ["local-runner"]
